.custom-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.edit-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-button:hover {
    cursor: pointer;
}

.flowCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flowCard:hover{
    cursor: pointer;
}

.addFlowCard {
    margin-bottom: 8
}

.addFlowCard:hover{
    cursor: pointer;
}

.flowTitle {
    flex: 1;
    text-align: left;
    font-size: 32px;
    color: #343a40;
    font-weight: bold;
}